@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
.font {
  font-family: "Aboreto", system-ui;
}
.banner {
  font-family: "Poppins", sans-serif;
}